@import "tailwindcss";

@font-face {
  font-family: "Darumadrop One";
  src: url("/fonts/Darumadrop_One/DarumadropOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jacquard 12";
  src: url("/fonts/Jacquard_12/Jacquard12-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@theme {
  --font-goblin: "Darumadrop One", sans-serif;
  --font-warlock: "Jacquard 12", serif;
  --font-cleric: "Pixelify Sans", sans-serif;
}
