@import "tailwindcss";

@font-face {
  font-family: "Darumadrop One";
  src: url("/fonts/Darumadrop_One/DarumadropOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jacquard 12";
  src: url("/fonts/Jacquard_12/Jacquard12-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@theme {
  --font-goblin: "Darumadrop One", sans-serif;
  --font-warlock: "Jacquard 12", serif;
  --font-cleric: "Pixelify Sans", sans-serif;

  --color-druid-900: #010D06;
  --color-druid-800: #011309;
  --color-druid-700: #01190B;
  --color-druid-500: #023115;
  --color-ghoul-500: #22C725;
  --color-ghoul-300: #71DD0B;
  --color-sorc-500: #8200EC;

  --color-halfling-500: #A1683A;
  --color-halfling-100: #F1E5D9;
}

body {
  background-color: var(--color-druid-800);
}
