@import 'tailwindcss';

@font-face {
  font-family: 'Darumadrop One';
  src: url('/fonts/Darumadrop_One/DarumadropOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jacquard 12';
  src: url('/fonts/Jacquard_12/Jacquard12-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@theme {
  --font-goblin: 'Darumadrop One', sans-serif;
  --font-warlock: 'Jacquard 12', serif;
  --font-cleric: 'Pixelify Sans', sans-serif;

  --color-druid-900: #010d06;
  --color-druid-800: #011309;
  --color-druid-700: #01190b;
  --color-druid-600: #022510;
  --color-druid-500: #023115;

  --color-ghoul-500: #22c725;
  --color-ghoul-300: #71dd0b;
  --color-ghoul-glow: #7cffbe;

  --color-sorc-600: #6f00e5;
  --color-sorc-500: #8200ec;
  --color-sorc-400: #8b5cf6;
  --color-sorc-glow: #bda7ff;

  --color-halfling-500: #a1683a;
  --color-halfling-300: #c9a78a;
  --color-halfling-100: #f1e5d9;

  --color-fog: #d7e5db;

  --color-pumkin-500: #ff8a3d;
  --color-pumplin-glow: #ffb37a;

  --color-pine: #2e5a4a;

  --animate-wiggle: wiggle 0.4s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }
}

html,
body {
  background-color: var(--color-druid-600);
  font-family: var(--font-goblin);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
